<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - SlickBlog</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Content/less/bootstrap.less" type="text/css"/>
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="container-fluid">
        <header>
            <div class="row-fluid">
                
                <div id="logo">
                    @Html.ActionLink("your logo here", "Index", "Home")
                </div>

                <button type="button" id="menu-button" class="header-button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>



                   

                 <nav class="toogle-nav">
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">               
                    <p>Copyright &copy; @DateTime.Now.Year <a href="#">Simon Šauperl</a></p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/site")
    </body>
</html>
