@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SlickBlog</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/less")
</head>
<body>
    <div id="applicationHost">
        @RenderPage("_splash.cshtml")
    </div>

    <footer class="container">
        <p>Copyright &copy; @DateTime.Now.Year <a href="#">Simon Šauperl</a></p>
    </footer>
    @RenderPage("Analytics.cshtml")

@*    @Scripts.Render(
        "~/bundles/libs"
        )*@
    <script src="/Scripts/require.js" 
            data-main="App/main"></script>
</body>
</html>


